@model PageViewModel<CustomFieldsPage>

<div class="content-custom-fields-page">
    <h2>@Html.PropertyFor(x => x.CurrentPage.MainTitle)</h2>
    <div class="row">
        <p>@nameof(Model.CurrentPage.RangeInteger)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.RangeInteger)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.RangeInteger)</p>
        <p @Html.EditAttributes(x => x.CurrentPage.RangeInteger)>@Model.CurrentPage.RangeInteger</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.RangeDouble)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.RangeDouble)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.PageType)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.PageType)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.PageReference)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.PageReference)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.Image)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.Image)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.Video)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.Video)</p>
    </div>
    @* <div class="row">
        <p>@nameof(Model.CurrentPage.Image2)</p>
    <p>@Html.PropertyFor(x => x.CurrentPage.Image2)</p>
    </div> *@
    <div class="row">
        <p>@nameof(Model.CurrentPage.LinkItemCollection)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.LinkItemCollection)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.LinkItem)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.LinkItem)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.OtherPageReference)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.OtherPageReference)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.ContentAreaProperty)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.ContentAreaProperty)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.ContentReferenceProperty)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.ContentReferenceProperty)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.ContentReferenceListProperty)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.ContentReferenceListProperty)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.SingleValue)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.SingleValue)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.MultipleValues)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.MultipleValues)</p>
    </div>
    <div class="row">
        <p>@nameof(Model.CurrentPage.TestSelectionProperty)</p>
        <p>@Html.PropertyFor(x => x.CurrentPage.TestSelectionProperty)</p>
    </div>
</div>