@model IPageViewModel<IContent>

<!DOCTYPE html>
<html lang="@Model.StartPage.Language">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@(Model.CurrentContent.Name)</title>
    <link href="~/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">@Html.PropertyFor(viewModel => viewModel.StartPage.PageTitle)</a>
            @await Html.PartialAsync("_NavigationMenu")
        </div>
    </nav>
    @if (Model.EnableBreadcrumbs)
    {
        <div class="container breadcrumb-container">
            <ol class="breadcrumb">
                @for (int index = 0; index < Model.Ancestors.Count; index++)
                {
                    <li class="breadcrumb-item @(index == Model.Ancestors.Count - 1 ? "active" : "")">
                        @Html.ContentLink(Model.Ancestors[index])
                    </li>
                }
            </ol>
        </div>
    }
    <div class="container">
        @RenderBody()
    </div>
</div>
<footer class="text-center">
    <div class="container">
        <p>@Html.PropertyFor(viewModel => viewModel.StartPage.FooterText)</p>
    </div>
</footer>

<script src="~/bootstrap.bundle.min.js"></script>
</body>
</html>